<header>
    <a href="/" id="icon">
        <img src="https://www.olympusweb.com/wp-content/uploads/2023/01/white-hat.png">
        <h1>CLOW<span>N</span>TRICK</h1>

    </a>

    <% if (user) { %>
        <div id="user">
            <div>
                <a href="/mishilos">
                    <h3><%= user.nickname %></h3>
                    <h6>Participaciones : <%= user.mensajes %></h6>
                </a>
            </div>
            <a href="/logout">
                <img src="/images/logout.png">
            </a>
        </div>
    <% } else { %>

        <a href="/access" class="links">
            <p>Acceder</p>
        </a>

    <% } %>
    <!-- <button id="publicar">hola</button> -->
</header>