<header>
    <div id="icon">
        <img src="https://www.olympusweb.com/wp-content/uploads/2023/01/white-hat.png">
        <h1>CLOW<span>N</span>TRICK</h1>

    </div>

    <% if (user) { %>
        <div id="user">
            <h3><%= user.nickname %></h3>
            <a href="/logout">
                <img src="/images/logout.png">
            </a>
        </div>
    <% } else { %>

        <a href="/access" class="links">
            <p>Acceder</p>
        </a>

    <% } %>
    <!-- <button id="publicar">hola</button> -->
</header>