<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.olympusweb.com/wp-content/uploads/2023/01/white-hat.png" type="image/x-icon">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/access.css">
    <link rel="stylesheet" href="/styles/navaccess.css">
    <title>clowntrick</title>
</head>
<body>
    <%- include('./partials/navaccess') %>

    <section id="container_hilo">
        <form action="/nuevo_hilo" method="post">
            <input id="info_crack" style="display: none;" value="<%=user.id%>"></input>
            <div>
                <p>Construye tu hilo</p>
            </div>
            <input type="text" id="titulo" name="titulo" placeholder="Titulo" required>
            <textarea name="texto" id="texto" rows="13" placeholder="Descripcion" required></textarea>

            <button id="socket_client" type="submit">Añadir Hilo</button>
        </form>

    </section>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="/scripts/client_socket.js"></script>
</body>
</html>