<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.olympusweb.com/wp-content/uploads/2023/01/white-hat.png" type="image/x-icon">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/access.css">
    <link rel="stylesheet" href="/styles/navaccess.css">
    <title>clowntrick</title>
</head>
<body>
    <%- include('./partials/navaccess') %>

    <section id="container_hilo">
        <form action="/nueva_respuesta" method="post">
            <div>
                <p>Construye tu Respuesta</p>
            </div>
            <textarea name="texto" rows="13" placeholder="Descripcion"></textarea>

            <button type="submit">Añadir Respuesta</button>
        </form>

    </section>

</body>
</html>