*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Nunito', sans-serif
    // border: 1px solid white

@mixin flex
    display: flex
    align-items: center
    justify-content: center
     
header
    height: 13vh
    background: #111927
    padding: 1rem 3rem 
    position: fixed
    top: 0%
    width: 100% 
    #user
        // border: 1px solid white
        display: flex
        justify-content: space-between
        align-items: center
        width: 14%
        div

            // border: 2px solid green
            display: flex
            flex-direction: column
            align-items: center
        
        h3

            height: 10px
            color: white
            letter-spacing: 1px
            font-size: 17px
            @include flex
            justify-content: left
            width: 100%
            padding: 1rem 0
        h6
            color: white
            font-size: 10px
        a
            height: 100%
            width: 30%
        img
            width: 60%
            height: 60%


    display: flex
    justify-content: space-between
    align-items: center

    .links
        border-radius: 2px
        text-decoration: none
        color: black
        @include flex
        width: 10%
        background: #9fef00
        padding: 1rem
        border: none
        height: 80%
        p
            font-size: 18px
            font-weight: bold
            letter-spacing: .3px
    #icon
        text-decoration: none
        @include flex
        justify-content: left
        height: 100%
        width: 30%

        img
            width: 20%
            height: 90%
        h1
            margin-left: .5rem
            color: white
            letter-spacing: 1px
            font-size: 25px
        span
            color: #9fef00
            margin: 0 .1rem

@media (max-width: 768px)
    header
        padding: 1rem !important
    #icon
        width: 75% !important
        img
            width: 20% !important
            height: 50% !important
        h1
            font-size: 15px !important
    .links
        width: 30% !important
        height: 20% !important
    #user
        width: 45% !important
        div
            align-items: flex-start !important

            padding-top: .5rem
        h3
            padding-left: 0 !important
            font-size: 12px !important
        h6
            font-size: 9px !important
        img
            margin: .8rem 0 0 .5rem
            width: 45% !important

@media (min-width: 768px) and (max-width: 1023px)
    header
        padding: 0 3rem !important
    #icon
        width: 75% !important
        img
            width: 10% !important
            height: 30% !important
        h1
            font-size: 15px !important
    .links
        width: 30% !important
        height: 20% !important
    #user
        width: 25% !important
        div
            align-items: flex-start !important
            justify-content: left !important
            padding-top: .5rem
        h3
            justify-content: left !important
            padding-left: 0 !important
            font-size: 15px !important
        h6
            font-size: 12px !important
        img
            margin: .8rem 0 0 .5rem
            width: 45% !important  
